<?xml version='1.0' encoding='UTF-8'?>  <!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  <plist version="1.0">  <dict>      <key>CFBundleName</key>      <string>SGSDK</string>      <key>CFBundleIdentifier</key>      <string>au.edu.swinburne.SGSDK</string>      <key>CFBundleVersion</key>      <string>4.0</string>      <key>CFBundleDevelopmentRegion</key>      <string>English</string>      <key>CFBundleExecutable</key>      <string>SGSDK</string>      <key>CFBundleInfoDictionaryVersion</key>      <string>6.0</string>      <key>CFBundlePackageType</key>      <string>FMWK</string>      <key>CFBundleSignature</key>      <string>SWIN</string>  </dict>  </plist>
